# NextAuth
AUTH_SECRET=                        # openssl rand -base64 32
AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:4000
